/*
 * Copyright (c) 2019 Intel Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include "LX8_HiFi5_L2_Coh_2P.dtsi"

/ {
	model = "xt-sim";
	compatible = "cdns,LX8_HiFi5_L2_Coh_2P";

	chosen {
		zephyr,sram = &sram0;
	};
};

&cpu0 {
	clock-frequency = <10000000>;
};
